*
{
	padding:0%;
	margin:0%;
}
body
{	
	width:100%;
	font-family: 'Karma', serif;
	background: linear-gradient(to right, deepskyblue , #0086b3);
}



/* Navigation */
nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
	display:flex;
	display:-webkit-flex;
	flex-direction:row;
	justify-content:space-around;
	-webkit-justify-content:space-around;
	background: linear-gradient(to right, #e6f9ff , #ccf2ff, #80dfff);
	padding-top:1%;
	padding-bottom:1%;
}

nav li a  /* Where you make the text pretty */
{
    text-decoration: none;
	font-size:2.8em;
	font-weight: bold;
	color:black;
}

li a:hover
{
	color:DeepSkyBlue;
	transition: 0.4s;	
}

#banner
{width:100%;}

/* Homepage */

.welcome
{
	text-align:center;
	margin-top:2%;
	font-size:3.5em;
	text-shadow: 0 0 4px #e6f9ff;
}

.text
{font-size:2.5em; width:70%; margin-left:auto; margin-right:auto; margin-top:2%;}

#desktop
{height:40vw; display:block; margin-left:auto; margin-right:auto; margin-top:5%; margin-bottom:5%;}

.footerblok
{height:10vw; width:100%; background: linear-gradient(to right, #e6f9ff , #ccf2ff, #80dfff);}

/* Wie ben ik */

#building
{height:40vw; display:block; margin-left:auto; margin-right:auto; margin-top:5%; margin-bottom:5%;}

/* Projecten */
.project2
{background-color:#ccf2ff; padding-top:5%; padding-bottom:5%;}

.project1
{background-color:#80dfff; padding-top:5%; padding-bottom:5%;}

.projects
{text-align:center; margin-top:2%; font-size:2em;}

.uitleg
{font-size:1.6em; width:70%; margin-left:auto; margin-right:auto; margin-top:2%;}

.sitepic
{height:90vw; display:block; margin-left:auto; margin-right:auto; margin-top:5%; margin-bottom:5%;}

.sitepic2
{height:55vw; display:block; margin-left:auto; margin-right:auto; margin-top:5%; margin-bottom:5%;}


/* Responsive */

/* Extra small devices (portrait phones, less than 576px*/
@media screen and (max-width: 575px)
 {
	 nav ul
	 {flex-direction:column; text-align:center;}
	 
	 nav li a  /* Where you make the text pretty */
	{
	font-size:1.5em;
	}
	
	/*home */
	.welcome 
	{font-size:2em; margin-top:8%; width:70%; margin-left:auto; margin-right:auto;}
	
	.text
	{font-size:1.4em; margin-top:8%;}
	
	#desktop
	{height:70vw; margin-top:8%;}
	
	.footerblok
	{height:20vw;}
	
	/* Wie ben ik */
	
	#building
	{height:55vw;}
	
	.projects
	{font-size:1.6em;}

	.uitleg
	{font-size:1.4em;}
	
	

 } 
 
 /* Small devices (landscape phones, 576 px and up) */
  @media screen and (min-width:576px) and (max-width:767px)
 {
 }
 
 /* Medium devices (tablets, 768 px and up */
 @media screen and (min-width: 768px) and (max-width:991px)
 {
	 
	 /*home */
	 
	 nav li a
	 {font-size:2em;}
	 
	 .welcome 
	{font-size:2.5em; margin-top:8%;}
	
	 .text
	{font-size:1.8em; margin-top:3%;}
	
	#desktop
	{height:65vw;}
	
		/* Wie ben ik */
	
	#building
	{height:55vw;}
	
	.projects
	{font-size:2em;}

	.uitleg
	{font-size:1.8em;}
 }
 
 /* Large devices (desktops, 992px and up */
 @media screen and (max-width:1199px) and (min-width: 992px) 
 {
	 /*home */
	  .welcome 
	{font-size:3.2em; margin-top:8%;}
	
	 .text
	{font-size:2.2em; margin-top:3%;}
	
	#desktop
	{height:70vw;}
	
	nav li a  /* Where you make the text pretty */
	{
	font-size:2.6em;
	}
	
	/* Wie ben ik */
	
	#building
	{height:55vw;}
	
	.projects
	{font-size:2em;}

	.uitleg
	{font-size:2em;}
	
 }
 
 /* Extra large devices (large desktops, 1200px and up) */
 @media screen and (min-width:1200px)
 {
 }
 
